.App h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  padding: 20px;
  background-color: #fff;
  margin: 0;
}
li {
  list-style: none;
}
h2{
  text-align: center;
  margin: 0;
  background-color: #fff;
  padding: 10px;
}
.BotCollection h2{
  background-color: #fff;
  padding: 10px;
}

.bot-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 150px 5px 50px;
}

.bot-card {
  flex: 1;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 10px;
  text-align: center;
  box-shadow: 2px 2px 4px #888;
}

.bot-card.enlisted {
  background-color: skyblue;
}

.bot-card img {
  width: 100px;
}

.bot-card h2 {
  margin-top: 10px;
}



.bot-card p {
  margin: 0;
}

.bot-card {
  margin-right: 5px;
}

.bot-row {
  display: flex;
  justify-content: space-around;
}

.BotCollectionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.BotCollectionList li {
  flex: 0 0 calc(33.33% - 20px); 
  margin-bottom: 20px;
}